body {
  font-family: sans-serif;
}

#board {
  display:flex;
  flex-wrap: wrap;
  width: 760px;
}

.tile {
  border: 1px solid red;
  height: 70px;
  width: 60px;
  text-align: center;
}

.blank-tile {
  background-color: grey;
}

.highlight {
  background-color: red;
  color: red;
}


#category {
  border: 1px solid red;
  height: 30px;
  width: 600px;
  margin-top: 10px;
}

#instruction-div {
  border: 1px solid red;
  height: 80px;
  width: 600px;
  margin-top: 50px;
}

#players {
  display: flex;
}

#p1-name, #p2-name {
  border: 1px solid red;
  width: 200px;
}

#p1-score, #p2-score {
  border: 1px solid red;
  height: 40px;
  width: 200px;
}

#wheel {
  height: 200px;
  width: 200px;
  border: 1px solid red;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
